<h1 class="my-4"><%= @cocktail.name %></h1>

<div class="container">

  <div class="row">
    <div class="col-md-6 p-4 cocktail-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo %>); background-size: cover; background-position: center">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.ingredient.name %> : <%= dose.description %> (<%= link_to "supprimer", dose_path(dose), method: :delete, data: { confirm: "Sûr ?" } %>) </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6 p-4">
      <%= render 'new_dose_form', cocktail: @cocktail, dose: @dose %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 p-4">
      <h2>Ce que nos lecteurs en pensent</h2>
      <% @cocktail.reviews.each do |review| %>
        <p>
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          "<%= review.content %>" posté <%= review.created_at.to_date.strftime("le %d/%m/%Y") %>
        </p>
      <% end %>
    </div>

    <div class="col-md-6 p-4">
      <%= render 'new_review_form', cocktail: @cocktail, review: @review %>
    </div>
  </div>
</div>
