<h1><%= @cocktail.name %></h1>

<%= image_tag @cocktail.image_url, alt: "alttext" %>

<hr>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %> : <%= dose.description %> ( <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %> ) </p>
<% end %>

<%= render 'new_dose_form', cocktail: @cocktail, dose: @dose %>

<hr>

<% @cocktail.reviews.each do |review| %>
  <p>
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <%= review.content %>
  </p>
<% end %>

<%= render 'new_review_form', cocktail: @cocktail, review: @review %>
