<h1>Add a dose to <%= @cocktail.name %> </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.association :ingredient %>
  </div>
  <div class="form-inputs">
    <%= f.input :description %>
  </div>
  <div class="form-actions">
    <%= f.submit "Add this dose", class: "btn btn-primary" %>
  </div>
<% end %>
<p><%= link_to "Go back to cocktail page", cocktail_path(@cocktail) %></p>
